* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0 5% 0;
    font-size: 24px;
}

#form {
    display: flex;
    flex-direction: column;
    margin: 0 21%;
}

.input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    margin: 2% 0;
}

.input-title {
    font-size: 15px;
    margin: 1.5% 0;
    font-weight: 700;
}

input {
    width: 100%;
    padding: 8px;
    outline: none;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 4px;
}

input::placeholder {
    font-size: 14px;
    color: rgb(152, 152, 152);
}

input:focus {
    border-color: blue;
    outline: none;
    background-color: none;
}

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 4px;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    color: red;
}

button {
    display: flex;
    font-size: 12px;
    color: white;
    background-color: rgb(60, 60, 60);
    padding: 12px 36px;
    width: fit-content;
    border: none;
    border-radius: 6px;
    outline: none;
    margin-top: 24px;
    margin-left: -8px;
}

/* button.valid {
    background-color: green;
} */